.franklin-content {
    position: relative;
    width: 100%;
    padding-left: 4%;
    padding-right: 4%;
    line-height: 1.35em;
}

/* on wide screens, constrain width and center */
@media (min-width: 940px) {
    .franklin-content {
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
    }
}